@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");

*,
*::before,
*::after{
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}
li{
   list-style: none;
}
a,
a:visited{
   text-decoration: none;
}
a:hover{
   text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
   font-weight: inherit;
   font-size: inherit;
}
img{
   vertical-align: top;
}
html,
body{
   height: 100%;
   font-family: "Poppins", "Helvetica Neue", Helvetica, sans-serif;
   overflow-x: hidden;

   color: black;
}
.wrapper{
   min-height: 100%;
   background-color: #FAFBFF;
   width: 100vw;
   @media (min-width: 1024px) {
      display: flex;
   }
}
